<html ng-app="cs480App">
	<!-- This page uses AngularJS -->
	<head>
	    <title>CS480 Demo HomePage using AngularJS</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	    <script src="/js/home-control-ajs.js"></script>
	</head>

	<body ng-controller="Ctrl">
		<div>
	        This is a simple page to demonstrate the web UI development.
	        The key tools and techniques used include:
	        <ul>
	            <li>HTML - Obviously</li>
	            <li><a href="https://angularjs.org/">AngularJS</a></li>
	            <li><a href="http://jquery.com/">JQuery</a></li>
	            <li><a href="http://api.jquery.com/jquery.ajax/">JQuery - AJAX</a></li>
	        </ul>
	    </div>

	    <hr>

	    <div>
	        <div>
	            <label>User List</label>
	            <table border="1">
	                <tr>
	                    <td>ID</td>
	                    <td>Name</td>
	                    <td>Username</td>
						<td>Password</td>
						<td>Phone</td>
	                    <td>Delete</td>
	                </tr>

	                <tr ng-repeat="user in users">
	                    <td>{{user.id}}</td>
	                    <td>{{user.name}}</td>
	                    <td>{{user.username}}</td>
						<td>{{user.password}}</td>
						<td>{{user.phone}}</td>
                        <td><button ng-click="deleteUser(user.id)">Delete</button></td>
	                </tr>
	            </table>
	        </div>

	        <hr>

	        <div>
	            <label>Add User</label>
	            <table border="1">
	                <tr>
	                    <td>ID</td>
	                    <td>Name</td>
						<td>Username</td>
						<td>Password</td>
						<td>Phone</td>
	                    <td>Add</td>
	                </tr>
	                <tr>
	                    <td><input type="text" ng-model="new_userID"></td>
	                    <td><input type="text" ng-model="new_name"></td>
						<td><input type="text" ng-model="new_username"></td>
						<td><input type="text" ng-model="new_password"></td>
						<td><input type="text" ng-model="new_phone"></td>
	                    <td><button ng-click="addUser()">Add</button></td>
	                </tr>
	            </table>
	        </div>

	        <hr>

	        <div>
	            <label>Query User</label>
	            <input type="text" id="query_id" ng-model="userIdToSearch"><button ng-click="getUser()">Get</button>
	            <table border="1">
	                <tr>
	                    <td>ID</td>
	                    <td>Name</td>
						<td>Username</td>
						<td>Password</td>
						<td>Phone</td>
	                </tr>
	                <tr>
	                    <td><label>{{founduser.userID}}</label></td>
	                    <td><label>{{founduser.name}}</label></td>
						<td><label>{{founduser.username}}</label></td>
						<td><label>{{founduser.password}}</label></td>
						<td><label>{{founduser.phone}}</label></td>
	                </tr>
	            </table>
	        </div>
		</div>
		
		<hr>

		<div>
	        <div>
	            <label>Event List</label>
	            <table border="1">
	                <tr>
	                    <td>ID</td>
	                    <td>Name</td>
	                    <td>Location</td>
	                    <td>Date</td>
						<td>Start Time</td>
						<td>End Time</td>
						<td>Delete</td>						
	                </tr>

	                <tr ng-repeat="event in events">
	                    <td>{{event.eventID}}</td>
	                    <td>{{event.name}}</td>
	                    <td>{{event.location}}</td>
						<td>{{event.date}}</td>
						<td>{{event.start_time}}</td>
						<td>{{event.end_time}}</td>
                        <td><button ng-click="deleteEvent(event.eventId)">Delete</button></td>
	                </tr>
	            </table>
	        </div>

	        <hr>

	        <div>
	            <label>Add Event</label>
	            <table border="1">
	                <tr>
	                    <td>ID</td>
	                    <td>Name</td>
	                    <td>Location</td>
	                    <td>Date</td>
						<td>Start Time</td>
						<td>End Time</td>
	                </tr>
	                <tr>
	                    <td><input type="text" ng-model="new_eventID"></td>
	                    <td><input type="text" ng-model="new_event_name"></td>
						<td><input type="text" ng-model="new_location"></td>
						<td><input type="text" ng-model="new_date"></td>
						<td><input type="text" ng-model="new_start_time"></td>
						<td><input type="text" ng-model="new_end_time"></td>
	                    <td><button ng-click="addEvent()">Add</button></td>
	                </tr>
	            </table>
	        </div>

	        <hr>

	        <div>
	            <label>Query Event</label>
	            <input type="text" id="query_id" ng-model="eventIdToSearch"><button ng-click="getEvent()">Get</button>
	            <table border="1">
	                <tr>
	                    <td>ID</td>
	                    <td>Name</td>
	                    <td>Location</td>
	                    <td>Date</td>
						<td>Start Time</td>
						<td>End Time</td>
	                </tr>
	                <tr>
	                    <td><label>{{foundevent.eventID}}</label></td>
	                    <td><label>{{foundevent.name}}</label></td>
						<td><label>{{foundevent.location}}</label></td>
						<td><label>{{foundevent.date}}</label></td>
	                    <td><label>{{foundevent.start_time}}</label></td>
	                    <td><label>{{foundevent.end_time}}</label></td>						
	                </tr>
	            </table>
	        </div>
	    </div>

	</body>

</html>